.hidden {
    display: none;
}

.visible {
    display: block;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.heading {
}

.btn {
    margin: 20px 10px 0;
    padding: 10px 20px;
    color: black;
    border: 1px solid darkgray;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background: darkgray;
}

.single {
    margin: 0 auto;
}

#info-game {
    margin: 0 auto;
}

.answers {
    display: flex;
}