html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 100px auto;
    outline: 2px solid black;
    text-align: center;
    font-size: 24px;
}

td {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border: 1px solid gray;
}

.black {
    background-color: darkgrey;
}

.main-field {
    font-size: 30px;
}

.form {
    max-width: 800px;
    margin: 0 auto;
}

.flex-row {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.form__field {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.form__field:not(:last-child) {
    margin-right: 30px;
}

.form__label {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    color: red;

}

.form__input {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid dodgerblue;
}


.form__input:focus {
    outline: 1px solid dodgerblue;
    background: lightgoldenrodyellow;
}

button {
    display: block;
    background: dodgerblue;
    border: blue;
    border-radius: 3px;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 auto;
}

.error {
    border: 1px solid red;
    color: red;
}
.error:focus {
    outline: 1px solid red;
}

.right {
    border: 1px solid green;
    color: green;
}
.right:focus {
    outline: 1px solid green;
}
.display_block {
    display: block;
}